@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-chassis:before { content: "\f100"; }
.flaticon-002-emergency-sign:before { content: "\f101"; }
.flaticon-003-funnel:before { content: "\f102"; }
.flaticon-004-air-filter:before { content: "\f103"; }
.flaticon-005-car-key:before { content: "\f104"; }
.flaticon-006-parking-brake:before { content: "\f105"; }
.flaticon-007-spark-plug:before { content: "\f106"; }
.flaticon-008-battery:before { content: "\f107"; }
.flaticon-009-oil-bottle:before { content: "\f108"; }
.flaticon-010-steering-wheel:before { content: "\f109"; }
.flaticon-011-gear:before { content: "\f10a"; }
.flaticon-012-cooler:before { content: "\f10b"; }
.flaticon-013-piston:before { content: "\f10c"; }
.flaticon-014-warning:before { content: "\f10d"; }
.flaticon-015-oil-filter:before { content: "\f10e"; }
.flaticon-016-abs:before { content: "\f10f"; }
.flaticon-017-exhaust-pipe:before { content: "\f110"; }
.flaticon-018-warning:before { content: "\f111"; }
.flaticon-019-gearshift:before { content: "\f112"; }
.flaticon-020-belt:before { content: "\f113"; }
.flaticon-021-engine:before { content: "\f114"; }
.flaticon-022-indicator:before { content: "\f115"; }
.flaticon-023-nut:before { content: "\f116"; }
.flaticon-024-fuel:before { content: "\f117"; }
.flaticon-025-wheel:before { content: "\f118"; }
.flaticon-026-engine:before { content: "\f119"; }
.flaticon-027-wrench:before { content: "\f11a"; }
.flaticon-028-engine:before { content: "\f11b"; }
.flaticon-029-damper:before { content: "\f11c"; }
.flaticon-030-engine:before { content: "\f11d"; }
.flaticon-031-valve:before { content: "\f11e"; }
.flaticon-032-turbo:before { content: "\f11f"; }
.flaticon-033-fuse:before { content: "\f120"; }
.flaticon-034-car-radiator:before { content: "\f121"; }
.flaticon-035-horn:before { content: "\f122"; }
.flaticon-036-chain:before { content: "\f123"; }
.flaticon-037-catalytic-converter:before { content: "\f124"; }
.flaticon-038-disc-brake:before { content: "\f125"; }
.flaticon-039-jerrycan:before { content: "\f126"; }
.flaticon-040-tank:before { content: "\f127"; }
.flaticon-041-strut-mounting:before { content: "\f128"; }
.flaticon-042-crankshaft:before { content: "\f129"; }
.flaticon-043-brake:before { content: "\f12a"; }
.flaticon-044-cross-wrench:before { content: "\f12b"; }
.flaticon-045-esp:before { content: "\f12c"; }
.flaticon-046-speedometer:before { content: "\f12d"; }
.flaticon-047-gearshift:before { content: "\f12e"; }
.flaticon-048-hydraulic-jack:before { content: "\f12f"; }
.flaticon-049-ball-bearing:before { content: "\f130"; }
.flaticon-050-engine:before { content: "\f131"; }

$font-Flaticon-001-chassis: "\f100";
$font-Flaticon-002-emergency-sign: "\f101";
$font-Flaticon-003-funnel: "\f102";
$font-Flaticon-004-air-filter: "\f103";
$font-Flaticon-005-car-key: "\f104";
$font-Flaticon-006-parking-brake: "\f105";
$font-Flaticon-007-spark-plug: "\f106";
$font-Flaticon-008-battery: "\f107";
$font-Flaticon-009-oil-bottle: "\f108";
$font-Flaticon-010-steering-wheel: "\f109";
$font-Flaticon-011-gear: "\f10a";
$font-Flaticon-012-cooler: "\f10b";
$font-Flaticon-013-piston: "\f10c";
$font-Flaticon-014-warning: "\f10d";
$font-Flaticon-015-oil-filter: "\f10e";
$font-Flaticon-016-abs: "\f10f";
$font-Flaticon-017-exhaust-pipe: "\f110";
$font-Flaticon-018-warning: "\f111";
$font-Flaticon-019-gearshift: "\f112";
$font-Flaticon-020-belt: "\f113";
$font-Flaticon-021-engine: "\f114";
$font-Flaticon-022-indicator: "\f115";
$font-Flaticon-023-nut: "\f116";
$font-Flaticon-024-fuel: "\f117";
$font-Flaticon-025-wheel: "\f118";
$font-Flaticon-026-engine: "\f119";
$font-Flaticon-027-wrench: "\f11a";
$font-Flaticon-028-engine: "\f11b";
$font-Flaticon-029-damper: "\f11c";
$font-Flaticon-030-engine: "\f11d";
$font-Flaticon-031-valve: "\f11e";
$font-Flaticon-032-turbo: "\f11f";
$font-Flaticon-033-fuse: "\f120";
$font-Flaticon-034-car-radiator: "\f121";
$font-Flaticon-035-horn: "\f122";
$font-Flaticon-036-chain: "\f123";
$font-Flaticon-037-catalytic-converter: "\f124";
$font-Flaticon-038-disc-brake: "\f125";
$font-Flaticon-039-jerrycan: "\f126";
$font-Flaticon-040-tank: "\f127";
$font-Flaticon-041-strut-mounting: "\f128";
$font-Flaticon-042-crankshaft: "\f129";
$font-Flaticon-043-brake: "\f12a";
$font-Flaticon-044-cross-wrench: "\f12b";
$font-Flaticon-045-esp: "\f12c";
$font-Flaticon-046-speedometer: "\f12d";
$font-Flaticon-047-gearshift: "\f12e";
$font-Flaticon-048-hydraulic-jack: "\f12f";
$font-Flaticon-049-ball-bearing: "\f130";
$font-Flaticon-050-engine: "\f131";