.multiModelVeiwer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: relative;
}
.multiModelVeiwer__scene {
	z-index: 2;
	display: flex;
	width: 100%;
	height: 100%;
}
.multiModelVeiwer__ctrlBar {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 95%;
	height: max-content;
	align-items: center;
	z-index: 5;
}
.multiModelVeiwer__btns-title {
	display: flex;
	flex-direction: row;
	width: max-content;
	align-items: center;
}
#multiModelViewer__interact {
	display: flex;
	position: relative;
	font-size: 42px;
	justify-content: center;
	align-items: center;
}
#interact-icon {
	font-size: 38px;
}
#no-interact-icon {
	position: absolute;
	font-size: 42px;
}
#ctrlBar__view {
	font-size: 42px;
}
#ctrlBar__next,
#ctrlBar__prev {
	font-size: 42px;
}
.scene__no-interact-cover {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	background: transparent;
	color: white;
}
.multiModelVeiwer__loading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 7;
	top: 0;
	bottom: 0;
	background: transparent;
	color: white;
}
.interact {
	z-index: -5;
}
.no__interact {
	z-index: 3;
}
