.modelViewer {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #80808062;
}
.modelViewer__scene {
	width: 100%;
	height: 100%;
}

.modelViewer__loading {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: #80808062;
}
