.store {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: max-content;
}
.store__main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	/* min-height: 100vh; */
	gap: 1rem;
	padding-top: 4rem;
}
.store__feature {
	height: 25vh;
}
.store__filter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	gap: 1rem;
	border-radius: 1rem;
	padding: 1rem 1rem;
}
.store__products {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 1rem;
	background-color: var(--neutral-2);
}
.store__row {
	display: flex;
	width: 100%;
	height: max-content;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.filter__search {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	gap: 1rem;
	width: 100%;
}
.filter__search > label {
}
.filter__search > input[type="search"] {
	padding: 0.4rem 0.4rem;
	font-size: 1.2rem;
	min-width: 64ch;
	width: 100%;
	border-radius: 0.5rem;
	outline: none;
	border: 1px solid rgba(168, 166, 166, 0.719);
}
#search-icon-btn {
	position: absolute;
	right: 2rem;
	z-index: 4;
}
#search-icon {
	position: absolute;
}
.filter__options {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
	row-gap: 0.4rem;
}
.filter__options > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	gap: 0.5rem;
	border-bottom: 1px solid rgb(151, 148, 148);
	border-left: 1px solid rgb(151, 148, 148);
	padding: 0.1rem 0;
	padding-left: 0.2rem;
}
