.home {
	width: 100%;
	display: flex;
	position: relative;
	min-height: 100vh;
	flex-direction: column;
}
.home__content {
	width: 100%;
	height: 100%;
	z-index: 1;
}
.hide {
	display: none;
}
.show {
	display: flex;
}

#home-footer {
}

.home__modelViewer {
	position: relative;
	width: 100%;
	height: 100vh;
}
