.expModBtn {
	width: max-content;
	background-color: #00000093;
	flex-direction: row;
	display: flex;
	align-items: center;
	border-radius: 15px;
	padding: 0 10px;
	color: white;
	cursor: pointer;
	gap: 10px;
}
.expModBtn__text {
	margin: 0;
	border-radius: 15px;
	padding: 2px 15px;
	font-weight: 300;
	font-size: calc((3vw + 3vh) / 2);
}
.expModBtn:hover > .expModBtn__arrow-icon {
	/* animation: arrow_expand 0.4s ease-in; */
	transition: font-size 0.3s;
	font-size: calc((3vw + 3vh) / 2);
}
.expModBtn__arrow-icon {
	font-size: 0px;
	border-radius: 15px;
	font-weight: 600;
	padding-top: 4px;
	transition: font-size 0.3s;
}
