.quickView__overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	background-color: rgba(107, 107, 107, 0.411);
	z-index: 10;
	display: flex;
}
.quickView {
	display: none;
	position: fixed;
	width: 70%;
	height: 70vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	flex-direction: row;
	z-index: 12;
	background-color: white;
	align-items: center;
}
.quickView__show {
	display: flex;
}
.quickView__hide {
	display: none;
}
.quickView__modelViewer {
	height: 100%;
	width: 65%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
}
.quickView__modelViewer > div {
	height: 95%;
	width: 95%;
}
.quickView__info-btns {
	display: flex;
	flex-direction: column;
	padding: 0 0.4rem;
	width: 32%;
	border: 2px solid #80808062;
	height: 95%;
}
.quickView__info {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.6fr 0.4fr 1.5fr 6.1fr 0.4fr;
	align-items: flex-start;
	justify-content: flex-start;
	height: 95%;
	width: 95%;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.quickView__title {
	text-align: left;
	margin: 0;
	padding: 0;
	font-weight: 400;
}
.quickView__price {
	margin: 0;
	text-align: left;
	font-weight: 400;
	padding: 0;
	font-size: 1.2rem;
}
.quickView__description {
	text-align: left;
	font-size: 0.8rem;
}
.quickView__mechanics {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
	height: max-content;
	max-height: 100%;
	gap: 0.2rem;
}
.quickView__mechanics > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	width: 100%;
	margin: 0;
	padding: 0;
	border-left: #80808062 1px solid;
	border-bottom: #80808062 1px solid;
}
.quickView__mechanics div > p {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 0.8rem;
}
.quickView__mechanics > div > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 9rem;
	min-width: 9rem;
	/* justify-content: space-between; */
	gap: 0.8rem;
	padding: 0 0.8rem;
}
.quickView__mechanics > div > div > h4 {
	text-align: left;
	font-weight: 500;
	font-size: 0.8rem;
	height: min-content;
	margin: 0;
	padding: 0.4rem 0.2rem;
	width: 8rem;
	min-width: 8rem;
}
.quickView__mechanics > div > div > i {
	text-align: center;
	font-weight: 500;
	height: min-content;
	margin: 0;
}
.quickView__btns {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
