.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: max-content;
	position: relative;
	margin-top: 4rem;
}
.footer__top {
	height: 120px;
	background-color: #535353;
	width: 100%;
}
.footer__bottom {
	height: max-content;
	background-color: #2e2e2e;
	width: 100%;
}
