.account {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: max-content;
	position: relative;
}
.account__main {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 90%;
	justify-content: space-between;
	padding-top: 5rem;
	height: max-content;
}
.account__left {
	height: 80vh;
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-radius: 1rem;
}
.tabs {
	width: 100%;
	display: grid;
	grid-template-rows: repeat(7, 4rem);
}
.account__tab {
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	outline: 2px solid rgba(155, 155, 155, 0.705);
}
.account__right {
	min-height: 80vh;
	width: 75%;
}
.tab {
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 1rem;
	gap: 1rem;
	overflow: hidden;
	padding-bottom: 2rem;
	min-height: 80vh;
	position: relative;
}
.tab > h1 {
	padding: 1rem 0;
}
.tab__content {
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
.cards {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	padding-bottom: 2rem;
}
.counterCard {
	width: 12rem;
	height: 16rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border: 2px solid transparent;
	box-shadow: 0.04rem 0.04rem 0.4rem rgba(173, 173, 173, 0.637);
}
.counterCard > h2 {
	font-weight: 400;
}
.counterCard__valueWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60%;
}
.counterCard__valueWrapper > h1 {
	font-weight: 500;
}
.order__tables {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
.orderTable {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 0.5rem;
}
.orderTable > h2 {
	width: 95%;
	text-align: center;
}
.table__data {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 0.5rem;
}
.order,
.orderTable__headings {
	display: grid;
	width: 95%;
	padding: 0.2rem 0;
	grid-template-columns: 1fr 4fr 1.5fr 1.5fr 1.5fr 1.5fr;
}
.order {
	border: 1px solid grey;
}
.orderTable__headings {
	border-radius: 1rem;
	box-shadow: 0.04rem 0.04rem 0.4rem rgba(173, 173, 173, 0.637);
}
.order > h3 {
	width: 100%;
	font-weight: 400;
	/* text-align: left; */
}
.orderPopUp {
	position: fixed;
	/* bottom: 0;
	top: 0; */
	height: 60vh;
	border-radius: 1rem;
	width: 67%;
	background-color: tomato;
}
