.addInfo__container {
	width: 60%;
	border: 2px rgba(128, 128, 128, 0.253) solid;
	border-radius: 1rem;
	padding: 2rem 2rem;
}
.addInfo__form {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 1rem;
}
